body {
  border: 2px solid black;
  height: 1000px;
  padding: 2px;
}

.nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: maroon;
  color: white;
  margin: 10px;
}

.ul {
  display: flex;
  list-style-type: none;
}

.img {
  width: 100px;
}

.a {
  text-decoration: none;

}

.li {
  padding: 15px 25px 15px 25px;
  margin-right: 10px;
}

.main {
  display: flex;
}

.content {
  display: flex;
  border: 1px solid black;
  flex-grow: 5;
  padding: 10px;
  flex-direction: column;
}

.aside {

  border: 1px solid black;
  flex-grow: 1;
  padding: 10px;
  width: 200px;
}
.footer{
  border:1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}