.body {
  margin: 0px;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;


}

.ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.div {
  margin-top: 20px;
}

.li {
  margin-right: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.div2 {
  margin-top: 15px;
}

.img {
  width: 300px;
  border-radius: 10px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main-div {
  margin-left: 70px;
}

.paragraph {
  font-size: 32px;
}

.paragraph2 {
  font-size: 20px;
}

.div-color {
  color: rgb(156 163 175)
}

.contactButton {
  background-color: #706EE5;
  color: white;
  outline-style: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.img2 {
  width: 100px;
}

.pictures {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;

}

.div3 {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #FAFAFA;
  /* margin-top: 100px; */
}

.padding {
  padding: 50px;
  justify-content: center;
  display: flex;
}

.heading {
  color: #193E75;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #871E27;
  color: #FFFFFF;
}

.stayintouch {
  margin-top: 50px;
  margin-left: 100px;
}

.sendamessage {
  margin-left: 120px;
}

.email {
  margin-left: 100px;
}
