.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.upercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
}

.blink {
  text-decoration: blink;
}

.linehight {
  line-height: 2em;
}

.line-spacing {
  letter-spacing: 0.5em;
}

.wordspacing {
  word-spacing: 1.4em;
}

.alignleft {
  text-align: right;
}

h2 {
  background-image: url(../../pictures/360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg);
  background-repeat: no-repeat;
  color: antiquewhite;
  width: 200px;
  height: 200px;
}

.indent {
  text-indent: 50px;
}

.kchbhi {
  text-shadow: 1px 1px 2px;
}

p.intro::first-letter {
  font-size: 90px;
}

p.intro::first-line {
  font-weight: bold;
}

a.p:link {
  color: deeppink
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(20, 43, 255);
}

a:active {
  color: darkcyan;
}
input{
  background-color: black;
  color: white;
}
input.submit:hover{
  background-color: blue;
}
input.submit:active{
  background-color: brown;
}
input.submit:focus{
  color: red;
}


