.first {
  color: darkgreen;
}

.second {
  background-color: rgb(2, 23, 41);
}

.third {
  background-color: aqua;
}

p.note {
  background-color: black;
  opacity: 0.5
}

p.note2 {
  background-color: rgba(0, 0, 0, 0.212);
}