.first{
  color:rgb(17, 17, 209);
  background-color: rgb(182, 58, 58);
}
.second{
  color: rgb(221, 24, 24);
  background-color:black;
}
*{
  color: brown;
}
h1{
  color: blueviolet;
}
.note{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#introduction{
  border: 1px dashed black;
}
li a{
  border: 1px solid rgb(211, 24, 127);
}
p a{
  background-color: rgb(97, 165, 42);
}
h6 ~ p{
 background-color: red;
}
h4 + p{
  border: 5px solid purple;
}
